---
search: false
---

@charset "utf-8";

$fr-primary: #fa5565;
$fr-primary-dark: $fr-primary;
$primary-color: $fr-primary-dark !default;
$link-color: $fr-primary-dark !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin_dark | default: 'dark' }}";

// Hack to fix TOC header in current implementation of dark mode
.toc .nav__title {
    background: $fr-primary !important;
}

@import "minimal-mistakes";

// Shift the central page to the left on desktop
$shift-main-left: #{$right-sidebar-width-narrow};

// Desktop improvements
@media (min-width: 768px) {

  // Smaller font for desktop
  html {
    font-size: 20px;
  }

  // Slightly wider content area
  .page,
  .page__related,
  .breadcrumbs ol {
    max-width: none;
    width: calc(100% - #{$shift-main-left});
    padding-right: $shift-main-left;
  }

  // Also move slightly the sidebar and related elements to the left
  .archive,
  .sidebar,
  .sidebar.sticky {
    -webkit-transform: translateX(#{$shift-main-left});
    transform: translateX(#{$shift-main-left});
    transition: transform 0.18s ease;
    will-change: transform;
  }
}
